# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# Editor / IDE folders
.vs/
v17/

# Project artifacts
analysis/
*.log

